NEXT_PUBLIC_BASE_API=http://localhost:3001/api
NEXT_PUBLIC_GOOGLE_CLIENT_ID=replace-with-google-oauth-client-id
NEXT_PUBLIC_HOME_BRATZ_HERO_VIDEO_DESKTOP_URL=https://res.cloudinary.com/dlbc6kvrf/video/upload/v1781019859/BRATZ_DESKTOP_V2_1_lqo0ls.mp4
NEXT_PUBLIC_HOME_BRATZ_HERO_VIDEO_MOBILE_URL=https://res.cloudinary.com/dlbc6kvrf/video/upload/v1781019859/BRATZ_DESKTOP_V2_1_lqo0ls.mp4
NEXT_PUBLIC_HOME_BRATZ_HERO_POSTER_URL=https://res.cloudinary.com/dlbc6kvrf/video/upload/so_1/v1781019859/BRATZ_DESKTOP_V2_1_lqo0ls.jpg
NEXT_PUBLIC_HOME_PREMIUM_HERO_VIDEO_DESKTOP_URL=https://res.cloudinary.com/dlbc6kvrf/video/upload/v1781019855/GSLC_8x3_WEB_BANNER_e45rub.mp4
NEXT_PUBLIC_HOME_PREMIUM_HERO_VIDEO_MOBILE_URL=https://res.cloudinary.com/dlbc6kvrf/video/upload/v1781019855/GSLC_8x3_WEB_BANNER_e45rub.mp4
NEXT_PUBLIC_HOME_PREMIUM_HERO_POSTER_URL=https://res.cloudinary.com/dlbc6kvrf/video/upload/so_1/v1781019855/GSLC_8x3_WEB_BANNER_e45rub.jpg
NEXT_PUBLIC_ADMIN_DASHBOARD_URL=http://localhost:3000/admin
